{% extends 'base.html' %}

{% block content %}
 
<div class="container mt-5">
        <table class="table table-bordered table-striped table-success">
          <thead>
            <tr>
              <th scope="col">
                <div class="text-center">Libro</div>
                
              </th>
              <th scope="col">
                <div class="text-center">Autor</div>
                
              </th>
              <th scope="col">
                <div class="text-center">Categoria</div>
              </th>
              <th scope="col">
                <div class="text-center">Fecha Devolución</div>
              </th>
              
              <th scope="col">
                <div class="text-center">Multa</div>
              </th>
         
              <th scope="col">
                <div class="text-center"></div>
              </th>
         
            </tr>
          </thead>
          <tbody>
            {% for data in libros_data %}
            <tr>
                <td>{{ data.nombre }}</td>
                <td>{{ data.autor }}</td>
                <td>{{ data.categoria }}</td>
                <td>{{ data.fecha_devolucion }}</td>
                <td>${{ data.multa }}</td>
                <td>
                    <a href="{% url 'devolver' data.id %}" class="btn btn-info">Retornar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
      
      </div>
    </div>
   
{% endblock %}